.container {
    width: auto;
    height: auto;
    margin: 50px 100px 10px 100px;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 0px;
    background: inherit;
    background-color: #161616 !important;
}

.mat-toolbar {
    background-color: #161616 !important;
    color: #edd920;
    height: 80px;
}

.mat-list-item {
    color: white;
}

span {
    margin: 0px 20px 0px 20px;
    color: white;
    font-size: 14px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 1s;
}

span:hover {
    color: gray;
}

.spacer {
    flex: 1 1 auto;
}

.menu-spacer {
    flex: 1 1 auto;
}

img {
    margin-left: 100px;
}

mat-icon {
    margin: 0px 5px 0px 5px;
    color: #edd920;
}

@media (max-width:960px) {
    .sidenav {
        width: 200px;
        background: inherit;
        background-color: #161616 !important;
    }
    img {
        margin-left: 50px;
    }
}